{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{guitar.img}}" alt="{{guitar.name}}" />
</div>
<div class="detail__name">
    {% if guitar.verified_artist %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified</span>
    </div>
    {% endif %}
    <h1 class="title">{{guitar.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'guitar_update' guitar.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="/guitars/{{guitar.id}}/delete" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__artists mb-5">
        <h3 class="title is-3">Artists</h3>
        <form class="mb-5" action="{% url 'artist_create' guitar.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="name"
                        placeholder="Name"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="number"
                        name="Band"
                        placeholder="Band"
                        min="1"
                        required
                    />
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Add Artist" />
                </div>
            </div>
        </form>

        {% for artist in guitar.artists.all %}
            <div class="song">
                <span>{{forloop.counter}}</span>
                <span><b>{{artist.name}}</b></span>
                <span>{{artist.band}}</span>
            </div>
        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Artists Available</p>
                </div>
            </article>

        {% endfor %}
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{guitar.bio}}</p>
    </div>
</div>

{% endblock %}